<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Brand</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="container">
        <h1>Add Brand</h1>
        <form th:action="@{/brands/save}" th:object="${brand}" method="post">
        <div class="form-group">
            <label>Brand Name</label>
            <input type="text" th:field="*{brandName}" required>
        </div>
        <button type="submit" class="btn">Save</button>
        </form>
        </div>
    </body>
</html>