<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <div th:insert="fragments/base :: assetsHead"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h1>Create Order</h1>
    <form th:action="@{/orders/save}" method="post">
        <div class="form-group">
            <label>Select Product</label>
            <select name="productId" required>
                <option value="">Select Product</option>
                <option th:each="product : ${products}"
                        th:value="${product.id}"
                        th:text="${product.name}">
                </option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label>Quantity</label>
            <input type="number"
                   name="quantity"
                   min="1"
                   required>
        </div>
        <br>
        <button type="submit" class="btn">
            Create Order
        </button>
    </form>
</div>
</body>
</html>