<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1 class="page-title">Orders</h1>
    <p class="subtitle">Orders created by staff in the warehouse system.</p>

    <a th:href="@{/orders/new}" class="btn">Create Order</a>

    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Order Date</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>staff01</td>
                <td>2026-03-11</td>
                <td>$859.97</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>staff02</td>
                <td>2026-03-10</td>
                <td>$249.99</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>staff03</td>
                <td>2026-03-09</td>
                <td>$129.99</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>