<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

<h1 class="page-title">Add Product</h1>

<p class="subtitle">Use this form to add a new product.</p>

<form th:action="@{/products/save}" method="post" th:object="${product}">

<div class="form-group">

<label>Name</label>

<input type="text"
       class="form-control"
       th:field="*{name}"
       required>

</div>

<div class="form-group">

<label>Price</label>

<input type="number"
       class="form-control"
       th:field="*{price}"
       required>

</div>

<div class="form-group">

<label>Description</label>

<textarea class="form-control"
          th:field="*{description}">
</textarea>

</div>

<div class="form-group">

<label>Brand</label>

<select class="form-control"
        th:field="*{brand.id}"
        required>

<option value="">Select Brand</option>

<option th:each="brand : ${brands}"
        th:value="${brand.id}"
        th:text="${brand.brandName}">
</option>

</select>

</div>

<button type="submit" class="btn-primary">

Save Product

</button>

</form>

</div>

</body>
</html>